<div class="header">
  <a href="#default" class="logo">PIECEKEEPER</a>
  <div class="nav-right nav-authentication">
    <a href="#about">Login</a>
    <a href="#about">Sign up</a>
  </div>
  <div class="nav-right nav-menu">
    <a href="#search">Cards</a>
  </div>
</div>

<div class="main">
  <div class="cards">
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
    <a class="card"><img src="../assets/images/cards/OP01/001.png" alt=""></a>
  </div> 
</div>